{% extends 'layout.html' %}

{% block head %}<h2>CSS | Blocks</h2>{% endblock %}

{% block content %}

<section>
    <h3>Box group</h3>

    <div class="example"><div class="group">
    <header>Hello world</header>
    <div class="body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <footer>
      <a href="#" class="action button">Okay</a>
    </footer>
</div>
    </div>

    <div class="example"><div class="group danger">
    <header>Hello world</header>
    <div class="body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <footer>
      <a href="#" class="action button">Okay</a>
    </footer>
</div>
    </div>
</section>

<section>
    <h3>Callout</h3>

    <div class="example"><div class="callout">
    <h4>Take a look</h4>
    <p>
        People also underestimate the time they spend debugging. They underestimate
        how much time they can spend chasing a long bug. With testing, I know
        straight away when I added a bug. That lets me fix the bug immediately,
        before it can crawl off and hide. There are few things more frustrating or
        time wasting than debugging. Wouldn't it be a hell of a lot quicker if we
        just didn't create the bugs in the first place?
    </p>
</div>
    </div>

    <div class="example"><div class="callout primary">
    <h4>Take a look</h4>
    <p>
        People also underestimate the time they spend debugging. They underestimate
        how much time they can spend chasing a long bug. With testing, I know
        straight away when I added a bug. That lets me fix the bug immediately,
        before it can crawl off and hide. There are few things more frustrating or
        time wasting than debugging. Wouldn't it be a hell of a lot quicker if we
        just didn't create the bugs in the first place?
    </p>
</div>
    </div>

    <div class="example"><div class="callout success">
    <h4>Take a look</h4>
    <p>
        People also underestimate the time they spend debugging. They underestimate
        how much time they can spend chasing a long bug. With testing, I know
        straight away when I added a bug. That lets me fix the bug immediately,
        before it can crawl off and hide. There are few things more frustrating or
        time wasting than debugging. Wouldn't it be a hell of a lot quicker if we
        just didn't create the bugs in the first place?
    </p>
</div>
    </div>

    <div class="example"><div class="callout danger">
    <h4>Take a look</h4>
    <p>
        People also underestimate the time they spend debugging. They underestimate
        how much time they can spend chasing a long bug. With testing, I know
        straight away when I added a bug. That lets me fix the bug immediately,
        before it can crawl off and hide. There are few things more frustrating or
        time wasting than debugging. Wouldn't it be a hell of a lot quicker if we
        just didn't create the bugs in the first place?
    </p>
</div>
    </div>

    <div class="example"><div class="callout highlight">
    <h4>Take a look</h4>
    <p>
        People also underestimate the time they spend debugging. They underestimate
        how much time they can spend chasing a long bug. With testing, I know
        straight away when I added a bug. That lets me fix the bug immediately,
        before it can crawl off and hide. There are few things more frustrating or
        time wasting than debugging. Wouldn't it be a hell of a lot quicker if we
        just didn't create the bugs in the first place?
    </p>
</div>
    </div>
</section>

{% endblock %}
