{% extends 'layout.html' %}

{% block head %}<h2>Grids</h2>{% endblock %}

{% block content %}

<section>
  <h3>Grids</h3>

  <p>
    After a few tries to find a silver bullet, we decide to not stick to just one grid. Here is some awesome grid solutions:
  </p>

  <ul>
    <li><a href="http://mourner.github.io/dead-simple-grid/">Dead simple grid</a></li>
    <li><a href="http://susy.oddbird.net/">Susy</a></li>
    <li><a href="http://unsemantic.com/">Unsemantic</a></li>
    <li><a href="http://neat.bourbon.io/">Neat</a></li>
  </ul>
</section>

{% endblock %}
