{% extends 'layout.html' %}

{% block head %}<h2>Addons | FontAwesome integration</h2>{% endblock %}

{% block content %}

<section>
  <h3>FontAwesome integration</h3>

  <h4>Font installation</h4>
  <p>
    <ul>
      <li>Download latest release from <a href="http://fontawesome.io/">Official website</a></li>
      <li>Unpack archive</li>
      <li>Copy <code>/fonts</code> folder to your assets directory</li>
    </ul>

    It is possible to change the location of font files by defining <code>$font-path</code> variable (/fonts by default).<br>
  </p>
  <p>
    You can also use CDN url:

    <pre><code class="hljs scss">$font-path: "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";
$fa-version: "4.0.0"; // Optional</code></pre>
  </p>

  <h4>Usage</h4>
  <p>
    FontAwesome integration is not included by default. There are two ways of add it:
  </p>

  <h5>Semantic</h5>

  <pre><code class="hljs scss">@import 'fa-icons';

.my-success-button {
  @include icon-before(success, 16px);
}

.my-check-button {
  @include icon-after(check);
}

li {
  &::before {
    @include icon-pseudo(circle);
  }
}</code></pre>

  <h5>Non-semantic</h5>

  <pre><code class="hljs html">&lt;link rel="stylesheet" href="/css/fa-icons-classes.css">
&lt;a class="icon before link" href="https://google.com/">Google&lt;/a></code></pre>

</section>

<section>
  <h3>Semantic examples</h3>

  <div class="example-inline">
    <div class="example">
      <button class="ex-update-button">Refresh</button>
    </div>
  </div>

  <div class="example-inline">
    <div class="example">
      <button class="danger ex-delete-button">Delete</button>
    </div>
  </div>

  <div class="example-inline">
    <div class="example">
      <a class="ex-history-link" href="#">History</a>
    </div>
  </div>

  <div class="example-inline">
    <div class="example">
      <a class="ex-download-link" href="#">Download</a>
    </div>
  </div>

  <h6>SCSS code:</h6>
  <pre><code class="hljs scss">.ex-update-button {
  @include icon-before(refresh);
}

.ex-delete-button {
  @include icon-after(remove, inherit, 6px);
}

.ex-history-link {
  @include icon-before(history, 12px);
}

.ex-download-link {
  @include icon-after(download);
}</code></pre>
</section>

<section>
  <h3>Non-semantic examples</h3>

  <div class="example-inline">
    <div class="example">
      <button class="icon check before success">Add</button>
    </div>
  </div>

  <div class="example-inline">
    <div class="example">
      <button class="icon download after">Download</button>
    </div>
  </div>

  <div class="example-inline">
    <div class="example">
      <a class="icon before link" href="#">Google</a>
    </div>
  </div>

  <div class="example-inline">
    <div class="example">
      <a class="icon after external-link" href="#">Google</a>
    </div>
  </div>
</section>

{% endblock %}
